@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 140 87% 61%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 207 89% 64%;
    --secondary-foreground: 240 5.9% 10%;
    --tertiary: 62 83% 51%;
    --tertiary-foreground: 240 5.9% 10%;
    --quaternary: 24 100% 52%;
    --quaternary-foreground: 0 0% 98%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;

    /* Sidebar vars */
    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 140 87% 61%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 142 71% 45%;

    /* Chart colors */
    --chart-1: 140 87% 61%;
    --chart-2: 207 89% 64%;
    --chart-3: 62 83% 51%;
    --chart-4: 24 100% 52%;
    --chart-5: 0 0% 50%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 140 87% 61%;
    --primary-foreground: 0 0% 98%;
    --secondary: 207 89% 64%;
    --secondary-foreground: 0 0% 98%;
    --tertiary: 62 83% 51%;
    --tertiary-foreground: 0 0% 98%;
    --quaternary: 24 100% 52%;
    --quaternary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142 71% 45%;

    /* Sidebar vars */
    --sidebar-background: 240 10% 6%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 140 87% 61%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 142 71% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "IBM Plex Mono", monospace;
  }
}

