html {
	background: #000000;
	color: #FFFFFF;
}

input[type=text] {
	background: #000000;
	border: none;
	font-family: 'Source Code Pro';
	font-size: 28px;
	height: 30px;
}
*:focus {
	    outline: none;
}
.text-cobalt {
	color: #4C45D7;
	font-weight: bold;
}
.text-yellow {
	color: #EFE207;
	font-weight: bold;
}
.text-red {
	color: #F21B42;
	font-weight: bold;
}
.bio {
	margin-left: 100px;
  margin-right: 100px;
	font-family: 'Source Code Pro';
}
.foot {
	position: absolute;
	margin-left: 100px;
	margin-right: 100px;
	bottom:0;
}
.footimg {
	position: relative;
  display: block;
	float: right;
}
