@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


html {
	background: #000000;
	color: #FFFFFF;
	font-family: 'Source Code Pro';
}
input[type=text] {
	background: #000000;
	border: none;
	font-size: 28px;
	height: 30px;
}
a { 
	text-decoration: none;
}
a:link {
	color: #EFE207;
}
a:visited {
	color: #EFE207;
}
*:focus {
	outline: none;
}
ul { 
	list-style: none;
}
li:before {
	content: "* ";
}
.color-background-primary {
	background:#363636;
}
.text-blue {
	color: #179FE5;
}
.text-blue-hopin {
	color: #315ADA;
}
.text-cobalt {
	color: #4C45D7;
	font-weight: bold;
}
.text-purple {
	color: #743DFF;
}
.text-green {
	color: #45F297;
}
.text-yellow {
	color: #EFE207;
	font-weight: bold;
}
.text-yellow-og {
	color: #E3EB1F;
}
.text-orange {
	color: #FF6C0A;
}
.text-red {
	color: #F21B42;
	font-weight: bold;
}
.text-red-og {
	color: #F25645;
}

.header {
	display:inline-flex;
}
.header img {
	padding: 10px;
}
.header a { 
	padding: 10px 10px 0px 0px;
	text-decoration: none;
	display:inline-flex;
	margin: 25px;
}
.bio {
	margin: 0px 50px 0px 50px;
}
.footer {
	margin: 0px 50px 0px 50px;
	bottom:0;
}
.footimg {
	position: relative;
  display: block;
	float: right;
}
